.list {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-gap: 10px;
  justify-content: center;

  @media only screen and (max-width: 960px) {
    grid-template-columns: 500px;
  }
  @media only screen and (max-width: 510px) {
    grid-template-columns: 400px;
  }
  @media only screen and (max-width: 400px) {
    grid-template-columns: 350px;
  }
}
.nolist {
  color: #566597;
  text-align: center;
}
