.home {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    @media only screen and (max-width: 540px) {
      padding: 20px 0;
    }
  }

  @media (min-width: 576px) {
    .home {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .home {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .home {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .home {
      max-width: 1140px;
    }
  }

  @media only screen and (min-width: 640px) {
    // background: blue;
  }
}
