body {
  font-family: 'Vazir', Vazir, Tahoma, Arial, sans-serif !important;
  background-image: url('./Static/Images/Bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:focus {
  outline: none;
}
